@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    margin: 0 0 10px 0;
    padding: 0;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 0.9em;
    color: rgb(46, 146, 113);

    margin: -30px 0 0 0;
}

h3 {
    font-size: 1.3em;
}

a {
    display: block;
    text-decoration: none;
    color: #44a566;

    font-size: 1.1em;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-wrap: inherit;
    gap: 2rem;
    flex-direction: row;
    width: 685px;
    height: 100%;
    padding: 40px 25px;
    position: relative;
}

.links {
    display: flex;
    flex-wrap: inherit;
    gap: 1rem;
    flex-direction: column;

    margin-bottom: 30px;
}

.links div {
    background-color: rgb(43 118 66 / 7%);
    padding: 15px 15px;
    border-radius: 4px;
}

.web__links div {
    background-color: rgba(139, 37, 37, 0.07);
}

.web__links a {
    color: brown;
}

.web__links h2 {
    color: brown;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }}